$accent-color: #fe3e57;
$color-default: #8d8d8d;
$title-color: #29282d;

%quicksand-400{
  font-family: 'Quicksand-Regular';
  font-weight: 400;
}

%quicksand-500{
  font-family: 'Quicksand-Medium';
  font-weight: 500;
}

%quicksand-700{
  font-family: 'Quicksand-Bold';
  font-weight: 700;
}

%roboto-400{
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%roboto-500{
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

%roboto-700{
  font-family: 'Roboto-Bold';
  font-weight: 700;
}